<div class="calendar-wrapper" [ngClass]="animationType" *ngIf="!isAnimating">
  <div class="calendar-days-header" role="row">
    <div class="column-header" *ngFor="let day of daysOfWeek">
      {{ day }}
    </div>
  </div>

  <div class="calendar-days-body">
    <div
      class="day-row"
      role="row"
      *ngFor="let row of groupDataSource(dataSource)"
    >
      <div
        app-day-cell
        class="day-cell-container"
        role="cell"
        [dayData]="dayData"
        [isEditing]="dayData == editingDayData"
        (cellClick)="handleDayCellClicked($event, dayData)"
        *ngFor="let dayData of row"
      ></div>
    </div>
  </div>
</div>

<!-- reminder creator popover -->
<sat-popover
  #reminderPopover
  hasBackdrop
  horizontalAlign="after"
  verticalAlign="start"
  [anchor]="editingDayCellRef"
  (closed)="handledPopoverClosed()"
>
  <app-reminder-editor
    *ngIf="reminderPopover.isOpen()"
    [initialDate]="editingDayData?.dateTime"
  ></app-reminder-editor>
</sat-popover>
<!-- reminder creator popover -->
