@import "variables";

.app-header-wrapper {
  display: block;
  height: 64px;
}

.app-header {
  padding: 0.5rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  height: 64px;
  color: white;
  background-color: $header-bg;
}

.app-header-branding {
  font-weight: 700;
  font-size: 1.25rem;
  color: #ff7a59;
  margin-right: 46px;
}

.app-header-btn-group {
  margin-left: 26px;

  button:hover {
    background-color: #253342;
  }
}

.app-header-month {
  margin-left: 26px;
  font-size: 18px;
  font-weight: 700;
}

.header-btn-after {
  border-radius: 8px;
  margin-left: 8px;
  width: 45px;
  height: 38px;

  &:hover {
    background: #253342;
  }
}

.header-separator {
  margin: 0 10px;
  width: 1px;
  height: 70%;
  background-color: #516f90;
}

.header-searchbar {
  position: relative;
  width: 45px;
  height: 38px;

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 38px;
    margin: auto;
    padding-left: 45px;
    border: none;
    border-radius: 3px;
    background-color: #2e3f50;
    color: #fff;
    font-size: 1em;
    transition: all 0.3s ease;
    outline: none;

    &:hover {
      background: #253342;
    }
  }

  .header-searchbar-search-icon {
    position: absolute;
    top: 9px;
    right: 14px;
    width: 20px;
    height: 20px;
    pointer-events: none;
    transition: right 0.3s ease;
  }

  .header-searchbar-close-icon {
    position: absolute;
    top: 3px;
    right: 10px;
    transition: right 0.3s ease;
  }

  &.is-open {
    input {
      background-color: #253342;
      width: 360px;
    }

    .header-searchbar-search-icon {
      right: 326px;
    }
  }
}

.header-user {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: #253342;
  }

  .header-user-avatar {
    background: url(https://lh3.googleusercontent.com/-maahhisiVGo/AAAAAAAAAAI/AAAAAAAAAAA/AKF05nCp2tvWzLHdSzJgJtgXWaKoNyFBLQ.CMID/s83-c/photo.jpg);
    height: 32px;
    width: 32px;
    background-size: cover;
    background-position: center;
    margin-right: 12px;
    border-radius: 50%;
  }

  .header-user-name {
    font-size: 12px;
  }
}

@media (max-width: 770px) {
  .app-header-branding,
  .header-user,
  .header-separator {
    display: none;
  }
}

@media (max-width: 465px) {
  .app-header-btn-group,
  .header-repo-btn {
    display: none;
  }

  .header-searchbar.is-open input {
    width: calc(100vw - 26px);
  }
}
