<header class="app-header-wrapper">
  <div class="app-header">
    <div class="app-header-branding">
      Calendar
    </div>

    <div class="app-header-today">
      <button
        class="btn btn-with-icon"
        mat-stroked-button
        (click)="handleTodayClick()"
      >
        <div>Today</div>
        <i-feather name="calendar"></i-feather>
      </button>
    </div>

    <div class="app-header-btn-group">
      <button mat-icon-button (click)="handlePrevClick()">
        <i-feather name="arrow-left"></i-feather>
      </button>
      <button mat-icon-button (click)="handleNextClick()">
        <i-feather name="arrow-right"></i-feather>
      </button>
    </div>

    <div class="app-header-month">
      {{ (cdService.currentDate$ | async | date: "MMM yyyy") || "Loading.." }}
    </div>

    <div class="fx-spacer"></div>

    <div
      class="header-searchbar"
      [class.is-open]="searchBarFocused || searchTerm"
    >
      <input
        #searchBar
        name="searchTerm"
        [(ngModel)]="searchTerm"
        (ngModelChange)="handleSearchTermChanged()"
        class="header-searchbar-input"
        (focus)="searchBarFocused = true"
        (blur)="searchBarFocused = false"
        autocomplete="off"
      />
      <i-feather class="header-searchbar-search-icon" name="search"></i-feather>

      <button
        *ngIf="searchTerm"
        class="header-searchbar-close-icon sm-size"
        mat-icon-button
        (click)="clearSearchBar()"
      >
        <i-feather name="x"></i-feather>
      </button>
    </div>

    <a
      href="https://github.com/adrespi-dev/ng-scheduler"
      target="_blank"
      class="header-btn-after sm-size"
      mat-icon-button
    >
      <i-feather name="github"></i-feather>
    </a>

    <div class="header-separator"></div>

    <div class="header-user">
      <div class="header-user-avatar"></div>
      <div class="header-user-name">Adrián Espinoza</div>
    </div>
  </div>
</header>
