<div
  class="day-cell"
  [class.in-current-month]="dayData.dayInCurrentMonth"
  [class.is-weekend]="dayData.isWeekend"
  [class.is-today]="dayData.isCurrentDay"
  (click)="handleCellClick()"
>
  <div class="day-cell-header">
    {{
      dayData.dateTime | date: (getDay(dayData.dateTime) == 1 ? "d MMM" : "d")
    }}
  </div>
  <div class="day-cell-body">
    <div
      class="day-cell-new-reminder"
      [class.calendar-hide]="!isEditing"
      #newReminder
    >
      (No title)
    </div>
  </div>
</div>
