@import "variables";

.day-cell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;

  &:hover {
    background: $calendar-cell-hover-bg;

    .day-cell-delete-remainders {
      opacity: 1;
    }
  }
}

.day-cell-header {
  text-align: center;
  height: 25px;
  line-height: 25px;
  opacity: 0.6;
  border-top: 4px solid transparent;
}

.day-cell-delete-remainders {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 999;
  width: 26px;
  height: 26px;
  opacity: 0;

  i-feather {
    height: 17px;
    width: 17px;
    margin-top: 3px;
    margin-left: 2px;
  }
}

.day-cell-body {
  padding-top: 8px;
  padding: 2px;
  // height: calc(100% - 37px);
  overflow: hidden;
}

.in-current-month {
  .day-cell-header {
    opacity: 1;
  }
}

.is-today {
  .day-cell-header {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.is-weekend {
  background: $calendar-cell-weekend-bg;
}

.day-cell-new-reminder {
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 12px;
  background-color: $primary-color;
  color: white;
  line-height: 18px;
  height: 26px;
  margin-bottom: 4px;

  animation-duration: 198.1614349775785ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  animation-name: editing-reminder;

  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.2);

  &.calendar-hide {
    display: none;
  }
}

.day-cell-show-more {
  height: 26px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 700;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: rgba(32, 33, 36, 0.122);
  }
}

@keyframes editing-reminder {
  0% {
    transform: translateX(-15px);
    opacity: 0%;
  }
  100% {
    transform: none;
    opacity: 100%;
  }
}
