/**
 Buttons overrides
*/
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-family: inherit;
}

.mat-stroked-button:not([disabled]) {
  border-color: $border-color;
  font-weight: 600;
}

.mat-icon-button {
  .mat-button-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    // margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-flat-button {
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.mat-icon-button.sm-size {
  width: 32px;
  height: 32px;

  i-feather {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
}

/**
  Inputs overrides
*/
.mat-form-field,
.mat-select,
.mat-input {
  font-family: inherit;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgb(223, 227, 235);
}

.app-form {
  .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px;
  }

  .form-prop-control {
    .mat-form-field-flex {
      display: flex;
      align-items: center;
    }

    .mat-form-field-suffix {
      background-color: transparent;
    }

    .mat-form-field-underline {
      opacity: 0;
      bottom: 0px;
      left: 0;
    }

    .mat-focused,
    .mat-form-field-invalid {
      .mat-form-field-underline {
        opacity: 1;
      }
    }

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }

    .mat-form-field-infix {
      padding: 12px 0;
      border-top: 0px;
    }

    .mat-form-field-wrapper {
      padding-left: 12px;
      padding-right: 8px;
      transition: background-color 0.2s ease-in;
      border-radius: 4px;
    }

    .mat-form-field-suffix {
      mat-datepicker-toggle {
        .mat-icon-button {
          height: 32px;
          width: 32px;

          .mat-button-wrapper {
            line-height: 33px;
            text-align: center;
            justify-content: center;
          }
        }

        i-feather {
          margin-top: 0px;
        }
      }
    }

    mat-form-field {
      &:hover,
      &.mat-focused {
        .mat-form-field-wrapper {
          background-color: #f1f3f4;
        }
      }
    }
  }
}

/**
Calendars
*/
.mat-calendar {
  font-family: inherit;
}

.mat-calendar-body-cell-content {
  font-weight: 600;
  color: inherit;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  color: #0091ae;
  border: 0px;
  font-weight: 700;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: #bef0fa;
  color: inherit;
}

.mat-calendar-body-selected {
  background-color: #14adcc;
  color: #045363;
}

/**
Mat Selection Lists
*/
body .mat-list-base .mat-list-option {
  height: 36px;
  color: inherit;
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
}

body .mat-pseudo-checkbox {
  width: 18px;
  height: 18px;

  &.mat-pseudo-checkbox-checked::after {
    top: 3.4px;
    left: 2px;
  }
}

body .mat-list-base {
  padding-top: 0px;
}

mat-selection-list {
  overflow: auto;
  max-height: calc(100% - 20px);
}

.mat-list-colors {
  .mat-pseudo-checkbox {
    color: inherit;
  }

  .mat-list-text {
    color: $text-color;
  }

  .mat-primary .mat-pseudo-checkbox-checked {
    background: currentColor;
  }
}

.mat-list-base .mat-list-option.option-select-all {
  display: flex;
  align-items: center;
  padding: 0 16px;

  .mat-checkbox-indeterminate.mat-primary,
  .mat-checkbox-checked.mat-primary {
    .mat-checkbox-background {
      background-color: #2e3f50;
    }
  }

  .mat-checkbox {
    margin-right: 18px;
    padding: 0 0px;
  }
}
