$text-color: #33475b;
$primary-color: #0052cc;
$border-color: #e6ecf5;

$header-bg: #2e3f50;

// calendar variables
$calendar-border-color: #dfe3eb;

$calendar-day-header-border-bg: #f5f8fa;

$calendar-cell-hover-bg: #f5f8fa;
$calendar-cell-weekend-bg: #fafafa;
