@import "./styles/variables";
@import "./styles/material_setup";
@import "./styles/material_overrides";
@import "./styles/buttons";
@import "./styles/popovers";
// @import "./styles/forms";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  // font-family: "IBM Plex Sans", sans-serif;

  color: rgb(23, 43, 77);
  color: #33475b;
  font-size: 14px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}
